gobrui1/bin/
gobrui1/Library/
gobrui1/obj/
gobrui1/obj/Debug
gobrui1/FSharp/Data/
gobrui1/FSharp/bin/
gobrui1/FSharp/obj/
gobrui1/FSharp/bin/Debug/netstandard2.0/FSharp.dll
*.dll
*.cache
gobrui1/FSharp/obj/
gobrui1/FSharp/.ionide/
gobrui1/Temp/
gobrui1/temp/
gobrui1/.ionide/
